#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.animal-grid {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; /* Adjust the gap between items */
  color: black;
}

.animal-item {
  border: 1px solid #ccc; /* Add a border around each item */
  padding: 10px; /* Add some spacing around the item */
}
.animal-grid img{
  width:300px;
  height: 300px;
}
.animal-info{

}
.age-gender{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: row;
}
.sidebar{
  background-color: rgb(200, 242, 63);
  flex: 2; /* Sidebar takes 1/4 of the available space */
  min-width: 25%; /* Ensure the sidebar's width is at least 25% of the screen */
  max-width: 25%; /* Ensure the sidebar's width is at most 25% of the screen */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  height: 100vh; 

}